/*  Add your styling here */
* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    /* z-index: -1; */
}

body {
    background-image: url(design/background1.jpg);
    background-size: cover;
}

#main {
    width: 100%;
    height: 100vh;
}

nav {
    width: 100%;
    height: 80px;
    background-color: #0009;
    line-height: 80px;
    position: fixed;
    z-index: 1;
}

nav ul {
    float: right;
    margin-right: 30px;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    transition: 0.8s all;
}

nav ul li:hover {
    background-color: #CC7A86;

}

nav ul li a {
    color: #fff;
    padding: 30px;
    text-transform: uppercase;
}

.text {
    color: #331F2D;
    display: flex;
    justify-content: flex-end;
    font-size: small;
    margin-bottom: 40px;
    padding-top: 140px;
    margin-right: 50px;
}

.container {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    bottom: 450px;
}

.container h1 {
    float: right;
    margin-right: 50px;
    font-weight: bold;
    background: linear-gradient(#1b1419, #321F2C,  #fa709a);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 50px;
    
}

.container p {
    position: absolute;
    top: 180px;
    margin-left: 500px;
    margin-right: 50px;
    color:  #311E4D;
    font-size: large;

}

.image {
    float: left;
}
.column{
    width: 25%;
    padding: 5px;
}
.column img{
    height: 400px;
}

.row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
    
}
#main img{
    text-shadow: 0 0 50px #0f0,
                 0 0 100px #0f0,
                 0 0 150px #0f0,
                 0 0 200px #0f0,
                 0 0 250px #0f0;
    animation:animate 5s linear infinite;
}
@keyframes animate
{
    0%
{
filter: hue-rotate(0deg);
  }
  100%
{ 
    filter: hue-rotate(360deg);
}
}
 th{
     font-size: 2em;
     color: white;
     background-color: #0009;
     padding: 20px;
 }
 table{
     padding-bottom:300px;
     width: 100%;
     align-items: center;
 }
 td{
     padding: 25px;
 }

 /* Footer */
 footer{
    background-color: #0009;

    
    width: 100%;
    height: 100%;
     font-family: "Open Sans";
     padding-top: 40px;
     color: #fff;

 }
 .footer-content{
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     text-align: center;
 }

 .footer-content h3{
     font-size: 1.8rem;
     font-weight: 400;
     text-transform: capitalize;
     line-height: 3rem;
 }
 .footer-content{
     max-width: 500px;
     margin: 10px auto;
     line-height: 28px;
     font-size: 14px;
     }
     .socials{
         list-style: none;
         display: flex;
         align-items: center;
         justify-content: center;
         margin: 1rem 0 3rem 0;
     }
     .socials li{
         margin: 0 10px;

     }
     .socials a{
         text-decoration: none;
         color: #fff;
     }
     .socials a i{
         font-size: 1.1rem;
         transition:color .4s ease;
     }
     .socials a:hover i{
         color:#CC7A86;
     }
     .footer-bottom {
        background-color: #0009;

        width: 100%;
         padding-top: 20px 0;
         text-align: center;
     }
     .footer-bootom p{
         font-size: 14px;
         word-spacing: 2px;
         text-transform: capitalize;
     }
     .footer-bottomn span{
         text-transform: uppercase;
         opacity: .4;
         font-weight: 200;
     }
 /* End Footer */
